@import './base.css';

::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;

    
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

::-webkit-scrollbar-track {
    background: transparent;
}

